poc/src/pbxs_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- 🟦 FORM: the complete designed system -->
  <xs:element name="Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Measure" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Space" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Frame" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Layout" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Binding" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- 🟫 MEASURE: named pixel constants -->
  <xs:element name="Measure">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- MeasureReference: either a Measure name or literal pixel value -->
  <xs:simpleType name="MeasureReference">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+|[a-zA-Z_][a-zA-Z0-9_]*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 🟩 SPACE: physical environment definitions -->
  <xs:element name="Space">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Match"   type="SpaceRule" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Exclude" type="SpaceRule" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SpaceRule">
    <xs:attribute name="nameContains" type="xs:string" use="optional"/>
    <xs:attribute name="whenOrientation" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="portrait"/>
          <xs:enumeration value="landscape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <!-- Dimension constraints: min is inclusive (>=), under is exclusive (<) -->
    <xs:attribute name="minWidth"    type="MeasureReference" use="optional"/>
    <xs:attribute name="minHeight"   type="MeasureReference" use="optional"/>
    <xs:attribute name="underWidth"  type="MeasureReference" use="optional"/>
    <xs:attribute name="underHeight" type="MeasureReference" use="optional"/>
  </xs:complexType>

  <!-- 🟨 FRAME: reusable geometric pattern -->
  <xs:element name="Frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pane" type="PaneType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PaneType">
    <xs:attribute name="x"      type="PercentType" use="required"/>
    <xs:attribute name="y"      type="PercentType" use="required"/>
    <xs:attribute name="width"  type="PercentType" use="required"/>
    <xs:attribute name="height" type="PercentType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="PercentType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 🟥 LAYOUT: composition of frames into shapes -->
  <xs:element name="Layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shape" type="ShapeType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="space" type="xs:string" use="optional"/> <!-- references Space -->
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ShapeType">
    <xs:sequence>
      <xs:element name="Shape" type="ShapeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="frame" type="xs:string" use="optional"/>
    <xs:attribute name="whenOrientation" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="portrait"/>
          <xs:enumeration value="landscape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <!-- Dimension constraints: min is inclusive (>=), under is exclusive (<) -->
    <xs:attribute name="minWidth"    type="MeasureReference" use="optional"/>
    <xs:attribute name="minHeight"   type="MeasureReference" use="optional"/>
    <xs:attribute name="underWidth"  type="MeasureReference" use="optional"/>
    <xs:attribute name="underHeight" type="MeasureReference" use="optional"/>
  </xs:complexType>

  <!-- 🟪 BINDING: user activation mapping -->
  <xs:element name="Binding">
    <xs:complexType>
      <xs:attribute name="key" type="xs:string" use="required"/>
      <xs:attribute name="layout" type="xs:string" use="required"/>
      <xs:attribute name="traverse" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!-- 8 legal traversal tokens -->
            <xs:enumeration value="xfyf"/>
            <xs:enumeration value="xfyr"/>
            <xs:enumeration value="xryf"/>
            <xs:enumeration value="xryr"/>
            <xs:enumeration value="yfxf"/>
            <xs:enumeration value="yfxr"/>
            <xs:enumeration value="yrxf"/>
            <xs:enumeration value="yrxr"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mirrorX" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="keep"/>
            <xs:enumeration value="flip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mirrorY" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="keep"/>
            <xs:enumeration value="flip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
