poc/src/pbxs_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- 🟦 FORM: the complete designed system -->
  <xs:element name="Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Measure" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Space" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Frame" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Layout" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="Binding" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- 🟫 MEASURE: named pixel constants -->
  <xs:element name="Measure">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- MeasureReference: either a Measure name or literal pixel value -->
  <xs:simpleType name="MeasureReference">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+|[a-zA-Z_][a-zA-Z0-9_]*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 🟩 SPACE: physical environment definitions -->
  <xs:element name="Space">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Match"   type="SpaceRule" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Exclude" type="SpaceRule" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SpaceRule">
    <xs:attribute name="nameContains" type="xs:string" use="optional"/>
    <xs:attribute name="whenOrientation" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="portrait"/>
          <xs:enumeration value="landscape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <!-- Dimension constraints: min is inclusive (>=), under is exclusive (<) -->
    <xs:attribute name="minWidth"    type="MeasureReference" use="optional"/>
    <xs:attribute name="minHeight"   type="MeasureReference" use="optional"/>
    <xs:attribute name="underWidth"  type="MeasureReference" use="optional"/>
    <xs:attribute name="underHeight" type="MeasureReference" use="optional"/>
  </xs:complexType>

  <!-- 🟨 FRAME: reusable geometric pattern -->
  <xs:element name="Frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Pane" type="PaneType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PaneType">
    <xs:attribute name="x"      type="PercentType" use="required"/>
    <xs:attribute name="y"      type="PercentType" use="required"/>
    <xs:attribute name="width"  type="PercentType" use="required"/>
    <xs:attribute name="height" type="PercentType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="PercentType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 🟥 LAYOUT: composition of frames into shapes -->
  <xs:element name="Layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Shape" type="ShapeType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="space" type="xs:string" use="optional"/> <!-- references Space -->
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ShapeType">
    <xs:sequence>
      <xs:element name="Shape" type="ShapeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="frame" type="xs:string" use="optional"/>
    <xs:attribute name="whenOrientation" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="portrait"/>
          <xs:enumeration value="landscape"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <!-- Dimension constraints: min is inclusive (>=), under is exclusive (<) -->
    <xs:attribute name="minWidth"    type="MeasureReference" use="optional"/>
    <xs:attribute name="minHeight"   type="MeasureReference" use="optional"/>
    <xs:attribute name="underWidth"  type="MeasureReference" use="optional"/>
    <xs:attribute name="underHeight" type="MeasureReference" use="optional"/>
  </xs:complexType>

  <!--
    KeyType: Valid unmodified keys for bindings

    Rationale:
    - Only keys present on both full-size Mac and PC keyboards
    - Excludes platform-specific keys (eject, insert, printscreen)
    - Excludes modifier keys (shift, alt, option, command, control)
    - Excludes fn-chord-dependent keys (Mac fn+delete → PC delete handled separately)
    - Letters are lowercase; shifted variants handled by modifier configuration
    - Punctuation spelled out for clarity (e.g., "period" not ".")
    - Includes numpad for users with full keyboards
    - Function keys limited to F1-F12 (ubiquitous on both platforms)
  -->
  <xs:simpleType name="KeyType">
    <xs:restriction base="xs:string">
      <!-- Letters (lowercase) -->
      <xs:enumeration value="a"/>
      <xs:enumeration value="b"/>
      <xs:enumeration value="c"/>
      <xs:enumeration value="d"/>
      <xs:enumeration value="e"/>
      <xs:enumeration value="f"/>
      <xs:enumeration value="g"/>
      <xs:enumeration value="h"/>
      <xs:enumeration value="i"/>
      <xs:enumeration value="j"/>
      <xs:enumeration value="k"/>
      <xs:enumeration value="l"/>
      <xs:enumeration value="m"/>
      <xs:enumeration value="n"/>
      <xs:enumeration value="o"/>
      <xs:enumeration value="p"/>
      <xs:enumeration value="q"/>
      <xs:enumeration value="r"/>
      <xs:enumeration value="s"/>
      <xs:enumeration value="t"/>
      <xs:enumeration value="u"/>
      <xs:enumeration value="v"/>
      <xs:enumeration value="w"/>
      <xs:enumeration value="x"/>
      <xs:enumeration value="y"/>
      <xs:enumeration value="z"/>

      <!-- Digits (unshifted) -->
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>

      <!-- Function keys (F1-F12 only, ubiquitous) -->
      <xs:enumeration value="f1"/>
      <xs:enumeration value="f2"/>
      <xs:enumeration value="f3"/>
      <xs:enumeration value="f4"/>
      <xs:enumeration value="f5"/>
      <xs:enumeration value="f6"/>
      <xs:enumeration value="f7"/>
      <xs:enumeration value="f8"/>
      <xs:enumeration value="f9"/>
      <xs:enumeration value="f10"/>
      <xs:enumeration value="f11"/>
      <xs:enumeration value="f12"/>

      <!-- Navigation: arrows -->
      <xs:enumeration value="up"/>
      <xs:enumeration value="down"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>

      <!-- Navigation: other -->
      <xs:enumeration value="home"/>
      <xs:enumeration value="end"/>
      <xs:enumeration value="pageup"/>
      <xs:enumeration value="pagedown"/>

      <!-- Editing/Control -->
      <xs:enumeration value="escape"/>
      <xs:enumeration value="tab"/>
      <xs:enumeration value="space"/>
      <xs:enumeration value="enter"/>
      <xs:enumeration value="backspace"/>
      <xs:enumeration value="delete"/>

      <!-- Punctuation (unshifted, spelled out) -->
      <xs:enumeration value="grave"/>
      <xs:enumeration value="minus"/>
      <xs:enumeration value="equals"/>
      <xs:enumeration value="leftbracket"/>
      <xs:enumeration value="rightbracket"/>
      <xs:enumeration value="backslash"/>
      <xs:enumeration value="semicolon"/>
      <xs:enumeration value="apostrophe"/>
      <xs:enumeration value="comma"/>
      <xs:enumeration value="period"/>
      <xs:enumeration value="slash"/>

      <!-- Numpad -->
      <xs:enumeration value="numpad0"/>
      <xs:enumeration value="numpad1"/>
      <xs:enumeration value="numpad2"/>
      <xs:enumeration value="numpad3"/>
      <xs:enumeration value="numpad4"/>
      <xs:enumeration value="numpad5"/>
      <xs:enumeration value="numpad6"/>
      <xs:enumeration value="numpad7"/>
      <xs:enumeration value="numpad8"/>
      <xs:enumeration value="numpad9"/>
      <xs:enumeration value="numpadplus"/>
      <xs:enumeration value="numpadminus"/>
      <xs:enumeration value="numpadmultiply"/>
      <xs:enumeration value="numpaddivide"/>
      <xs:enumeration value="numpadequals"/>
      <xs:enumeration value="numpadperiod"/>
      <xs:enumeration value="numpadenter"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 🟪 BINDING: user activation mapping -->
  <xs:element name="Binding">
    <xs:complexType>
      <xs:attribute name="key" type="KeyType" use="required"/>
      <xs:attribute name="layout" type="xs:string" use="required"/>
      <xs:attribute name="traverse" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!-- 8 legal traversal tokens -->
            <xs:enumeration value="xfyf"/>
            <xs:enumeration value="xfyr"/>
            <xs:enumeration value="xryf"/>
            <xs:enumeration value="xryr"/>
            <xs:enumeration value="yfxf"/>
            <xs:enumeration value="yfxr"/>
            <xs:enumeration value="yrxf"/>
            <xs:enumeration value="yrxr"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mirrorX" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="keep"/>
            <xs:enumeration value="flip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mirrorY" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="keep"/>
            <xs:enumeration value="flip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
